body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-top: 2rem;
    margin-left: 2rem;
}

#info {
    width: 400px;
    height: 280px;
    margin-left: 40px;
}

button {
    width: 100px;
    height: 60px;
    background-color: forestgreen;
    font-size: 20px;
}